<p>beds works!</p>
<mat-card class="card-container mat-elevation-z5">
  <mat-card-header>
    <mat-card-title>
      Bed
    </mat-card-title>
    <a [routerLink]="['/beds-create']" mat-mini-fab color="primary"><mat-icon id="plus">add</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="bedNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bed No</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bedNo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bedType">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bed Type</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bedType}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="roomId">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Room No</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getRoomNumber(element.roomId)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="bedCharge">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Bed Charge</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.bedCharge}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button [routerLink]="['/beds-edit',element.bedId]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row;columns:columnList"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

